<!doctype html>
<html lang="en">

<head>
      <title>Collective Agreements Answers</title>
      <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="public/css/styles.css">
      <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
      <div class="container">
            <div class="row" style="margin-top:25%">
                  <div class="col-lg-12">
                        <div class="row">
                              <div class="col-lg-12">
                                    <p id="main-text" class="text-center lead">Collective agreement answers in an instant.</p>
                                    <form id="reset-form" action="/search_results" , method="get">
                                          <div class="row">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                      <div class="form-inline">
                                                            <input id="main-search" name="query" type="text" class="form-control input-lg inline" placeholder="Ask a question..." aria-label="Search for...">
                                                            <button class="btn btn-lg btn-primary inline" type="submit">Ask</button>
                                                      </div>
                                                </div>
                                          </div>

                                    </form>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      </div>

      </div>

</body>

</html>
